{:paths
 ["src" "resources"]

 ; Old version may have previously been publicly available but doesn't seem to be there anymore:
 ; :mvn/repos
 ; {"Mulesoft" {:url "https://repository.mulesoft.org/nexus/content/repositories/public/"}}
 ; :deps
 ; {com.netsuite.jdbc/NQjc {:mvn/version "7.20.50-atlassian-1"}}

 ; Developed with 8.10.136.0 from https://docs.oracle.com/en/cloud/saas/netsuite/ns-online-help/section_3994742720.html
 :deps
  {com.oracle.database.jdbc/ojdbc8 {:mvn/version "23.3.0.23.09"}
  	com.netsuite.jdbc/NQjc {:local/root "../NetSuiteJDBCDrivers/NQjc.jar"}
   metabase/oracle-driver {:local/root "../metabase/resources/modules/oracle.metabase-driver.jar"}
}

  ; copied from https://github.com/metabase/metabase/blob/master/deps.edn#L174 to fix Error building classpath. Could not find artifact org.opensaml:opensaml-core:jar:4.2.0 in central (https://repo1.maven.org/maven2/)
 :mvn/repos
 {
  ;; for metabase/saml20-clj
  "opensaml" {:url "https://build.shibboleth.net/nexus/content/repositories/releases/"}}

 :aliases
 {:oss
  ;; JDBC driver isn't GPL-compatible
  {:replace-deps  {}
   :replace-paths ["src" "resources"]}
  }
}